form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

input {
  padding: 5px;
  border-bottom: 1px solid black;
  inline-size: 100%;
  outline: none;
  transition: all 0.3s ease;
}

button {
  background: rgb(232, 232, 232);
  padding: 10px;
  border-radius: 5px;
}
