.container {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgb(232, 232, 232);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 20px;
}
